* {
  padding: 0;
  margin: 0; 
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(16, 22, 24);
}

/* Nav Bar */

header {
  background-color: rgb(202, 210, 197);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

a {
  text-shadow: 1px 1px 2px rgb(82, 121, 111);
  text-decoration: none;
  color: rgb(16, 22, 24);
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.navbar .logo {
  width: 40px;
  height: auto;
  opacity: 0.75;
}

.nav-link:hover {
  color: rgb(82, 121, 111);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(16, 22, 24);
}

/* Banner */
.main-banner {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

/* First section */
section.journey {
  margin: 0 auto;
  padding: 30px;
}
section.journey h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em;
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}
.journey-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section.journey aside {
  text-align: center;
  width: 200px;
  height: auto;
  float: left;
  margin: 20px;
}
section.journey aside img {
  width: 100%;
  height: auto;
}

.headline {
  padding-left: 20%;
  padding-right: 20%;
}
.headline h1 {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  text-align: center;
  font-size: 40px;
  padding: 15px;
}
.headline {
  text-align: center;
}
.headline .button {
  width: 250px;
  padding: 15px;
  background: rgb(47, 62, 70);
  border: 1px white solid;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button a {
  text-decoration: none;
  color: rgb(202, 210, 197);
  font-weight: bold;
}
.button:hover {
  background-color: rgb(202, 210, 197);
}
.button:hover a {
  color: rgb(47, 62, 70);
}

/* pet gallery */
section.gallery {
  margin: 0 auto;
  max-width: 1125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.gallery-item {
  width: 330px;
  height: 265px;
  margin: 10px;
  text-decoration: none;
}
.gallery-item img {
  position: absolute;
}
footer {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(202, 210, 197);
  position: fixed;
  bottom: 0;
}

/* FORM */
.contact-us {
  width: 100%;
  padding-top: 80px;
}
.contact-us h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  margin: 0;
  padding-top: 30px;
}
.contact-us h3 {
  text-align: center;
  line-height: 2.8;
}
#form {
  width: 50%;
  border-radius: 5px;
  background-color: rgb(202, 210, 197);
  margin: 0 auto 100px;
  padding: 20px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 30%;
  background-color: rgb(47, 62, 70);
  padding: 14px 20px;
  color: white;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="submit"]:hover {
  background-color: rgb(47, 62, 70);
}
textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
}

/* Adopt page*/
.first {
  padding-top: 40px;
  text-align: center;
  margin-top: 70px;
}
.first h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}
.grid {
  margin: 0 auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pet {
  margin: auto;
  padding: 60px;
}
.info {
  text-align: Left;
  margin: auto;
  padding: 60px;
}
/*Media queries */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(202, 210, 197);
    width: 100%;
    text-align: center;
    transition: 0.3;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  .headline {
    width: none;
  }
  .grid {
    grid-template-columns: 1fr;
    margin: auto 0;
    width: auto;
  }
  .info {
    text-align: center;
    padding: 20px;
  }
  .headline .button {
    width: 200px;
  }
  .pet {
    padding: 20px;
  }
  footer {
    display: none;
  }
  .contact {
    width: 400px;
  }
  #form {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .contact-us {
    margin: 10px;
  }
  .contact-us h1 {
    font-size: 34px;
  }
  .contact-us h3 {
    font-size: 1em;
  }
  .headline .button {
    width: 100%;
  }
  .gallery .gallery-item {
    width: 100%;
    height: auto;
  }
  .first {
    width: 100%;
  }
  .grid .pet img {
    width: 100%;
    height: auto;
  }
}
